@use 'src/styles/mixins';
@use 'src/styles/varibles';

.containerStyle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .inputStyle {
    @include mixins.size('font-size', 10, 20);
    @include mixins.size('height', 40, 88);
    @include mixins.size('padding-top', 14, 20);
    @include mixins.size('padding-bottom', 14, 20);
    @include mixins.size('padding-right', 14, 15);
    @include mixins.size('padding-left', 10, 15);
    @include mixins.size('width', 300, 800);
    @include mixins.size('border-radius', 4, 6);
    font-family: varibles.$ubuntu;
    border: 1px solid varibles.$silver;
    outline: none;
    position: relative;
    background-color: varibles.$white;
    text-align: start;
    transition: background-color 1s ease-in-out;
    &:active,
    &:focus{
      outline: none;
      border: 1px solid transparent;
      background:
       linear-gradient(white, white) padding-box,
       linear-gradient(to right, varibles.$secondary-color, varibles.$main-color) border-box;
    }
  }
.animatedTextStyle {
  @include mixins.size('top', 20, 30);
  @include mixins.size('left', 10, 20);
  @include mixins.size('font-size', 10, 20);
  @include mixins.size('width', 250, 800);
  position: absolute;
  font-family: varibles.$ubuntu;
  color: rgba(varibles.$secondary-color, 0.8);
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.5s ease;
  user-select: none;
}
