@use 'src/styles/mixins';
@use 'src/styles/varibles';

.containerStyle {
  position: relative;
  width: 100%;
  text-align: start;
}
  .inputStyle {
    @include mixins.size('font-size', 14, 20);
    @include mixins.size('height', 60, 120);
    @include mixins.size('padding-top', 14, 20);
    @include mixins.size('padding-bottom', 14, 20);
    @include mixins.size('font-left', 14, 15);
    @include mixins.size('font-right', 14, 15);
    font-family: Ubuntu, serif;
    width: 100%;
    padding: 20px 15px;
    border-radius: 6px;
    border: 1px solid #3498db;
    outline: none;
    position: relative;
    background-color: transparent;
    text-align: start;
  }
.animatedTextStyle {
  position: absolute;
  font-family: Ubuntu, serif;
  @include mixins.size('top', 20, 30);
  @include mixins.size('left', 10, 15);
  @include mixins.size('font-size', 14, 20);
  color: blue;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.5s ease;
  user-select: none;
}
