@use 'src/styles/mixins';
@use 'src/styles/varibles';

.containerStyle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .inputStyle {
    @include mixins.size('font-size', 14, 20);
    @include mixins.size('height', 40, 88);
    @include mixins.size('padding-top', 14, 20);
    @include mixins.size('padding-bottom', 14, 20);
    @include mixins.size('padding-right', 14, 15);
    @include mixins.size('padding-left', 14, 15);
    @include mixins.size('width', 300, 800);
    font-family: varibles.$ubuntu;
    border-radius: 6px;
    border: 1px solid varibles.$light-blue;
    outline: none;
    position: relative;
    background-color: varibles.$white;
    text-align: start;
  }
.animatedTextStyle {
  @include mixins.size('top', 20, 30);
  @include mixins.size('left', 10, 15);
  @include mixins.size('font-size', 14, 20);
  position: absolute;
  font-family: varibles.$ubuntu;
  color: varibles.$dark-blue;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.5s ease;
  user-select: none;
}
