
// sizing
$breakpoint: 1024;
$mobile-mockup: 375;
$desktop-mockup: 1440;
$desktop-finish: 1440;
//colors
$dark-blue: #0B44CD;
$light-blue: #3470FF;
$silver: #CDCDCD;
$ebony: #121417;
$orange: #FE8400;
$dark-orange: #D16B00;
$sand: #F9F9F9;
$black: #121417;
$lightOrange: #FFE4C6;
$light-black: #363535;
$ceramic: #8A8A89;
$white: #FFFFFF;
