// sizing
$breakpoint: 1024;
$mobile-mockup: 375;
$desktop-mockup: 1440;
$desktop-finish: 1440;
//colors
$dark-blue: #0B44CD;
$light-blue: #3470FF;
$silver: #CDCDCD;
$ebony: #121417;
$white: #FFFFFF;
$main-color: #00ccc5;
$secondary-color: #00b3a7;

$ubuntu: Ubuntu, serif;
