@use 'src/styles/mixins';
@use 'src/styles/varibles';

.mainTextMsg {
  @include mixins.size('padding-top', 10, 20);
  @include mixins.size('padding-left', 10, 20);
  @include mixins.size('padding-right', 10, 20);
  @include mixins.size('font-size', 10, 20);
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  font-family: Ubuntu, serif;
  height: auto;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow-wrap: break-word;
}
.hashtags {
  @include mixins.size('padding', 10, 20);
  @include mixins.size('font-size', 10, 20);
  color: #0B44CD;
  margin-top: 0;
  width: 100%;
  font-family: Ubuntu, serif;
  min-height: 20px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow-wrap: break-word;
}
