@use 'src/styles/mixins';
@use 'src/styles/varibles';

.mainTextMsg {
  @include mixins.size('padding-top', 10, 20);
  @include mixins.size('padding-left', 10, 20);
  @include mixins.size('padding-right', 10, 20);
  @include mixins.size('font-size', 10, 18);
  @include mixins.size('border-top-left-radius', 4, 6);
  @include mixins.size('border-top-right-radius', 4, 6);
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: varibles.$ubuntu;
  height: auto;
  background-color: varibles.$white;
  overflow-wrap: break-word;
}
.hashtags {
  @include mixins.size('padding', 10, 20);
  @include mixins.size('font-size', 10, 18);
  @include mixins.size('min-height', 10, 18);
  @include mixins.size('width', 300, 800);
  @include mixins.size('border-top-left-radius', 4, 6);
  @include mixins.size('border-top-right-radius', 4, 6);
  color: varibles.$dark-blue;
  margin-top: 0;
  font-family: varibles.$ubuntu;
  background-color: white;
  overflow-wrap: break-word;
}
.hashtagsArea {
  @include mixins.size('margin-bottom', 10, 30);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.BtbArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  @include mixins.size('margin-left', 10, 100);
  @include mixins.size('margin-right', 10, 50);
  @include mixins.size('font-size', 10, 20);
  @include mixins.size('padding-top', 5, 5);
  @include mixins.size('padding-bottom', 5, 5);
  @include mixins.size('padding-left', 10, 20);
  @include mixins.size('padding-right', 10, 20);
  @include mixins.size('border-radius', 4, 6);
  background-color: varibles.$light-blue;
  height: auto;
  outline: none;
  border: none;
  color: varibles.$white;
  font-family: varibles.$ubuntu;
}
