@use 'src/styles/mixins';
@use 'src/styles/varibles';

.numberInputWrapper {
  @include mixins.size('margin-top', 25, 30);
  @include mixins.size('width', 330, 850);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: absolute;
  @include mixins.size('bottom', 10, 55);
  @include mixins.size('left', 10, 10);
}
.hashtagsNumber {
  @include mixins.size('width', 10, 40);
  @include mixins.size('font-size', 10, 18);
  font-family: varibles.$ubuntu;
}
.label {
  @include mixins.size('font-size', 10, 18);
  @include mixins.size('bottom', 25, 40);
  @include mixins.size('left', 15, 50);
  @include mixins.size('width', 120, 200);
  position: absolute;
  font-family: varibles.$ubuntu;
}

input[type="range"] {
  @include mixins.size('width', 110, 250);
  @include mixins.size('margin-right', 10, 20);
}

.submitBtn {
  @include mixins.size('margin-left', 10, 100);
  @include mixins.size('margin-right', 10, 50);
  @include mixins.size('font-size', 10, 20);
  @include mixins.size('border-radius', 4, 6);
  @include mixins.size('padding-top', 5, 5);
  @include mixins.size('padding-bottom', 5, 5);
  @include mixins.size('padding-left', 10, 20);
  @include mixins.size('padding-right', 10, 20);
  background-color: varibles.$light-blue;
  height: auto;
  outline: none;
  border: none;
  color: varibles.$white;
  font-family: varibles.$ubuntu;
}
