@use 'src/styles/mixins';
@use 'src/styles/varibles';

.app {
  @include mixins.size('padding-right', 10, 20);
  @include mixins.size('padding-left', 10, 20);
  @include mixins.size('padding-top', 100, 120);
  @include mixins.size('padding-bottom', 20, 150);
  background-color: rgba(varibles.$silver, 0.5);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
